page-home {
  h3 {
    color: white;
  }

  p {
    color: white;
  }
  ion-content{
    color: white;
    background-image: url('https://www.nps.gov/common/uploads/grid_builder/imr/crop1_1/EF1AE95C-1DD8-B71B-0BBB04086695D043.jpg?width=640&quality=90&mode=crop');
  }
}
