page-home {
  h3 {
    color: white;
  }

  p {
    color: white;
  }
  ion-content{
    color: white;
    background-size: cover;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/8/80/OldFaithful1948.jpg');
  }
}
